$font-size: 50px;

:global {
  #__next, .body {
    height: 100vh;
  }
  .container {height: 100%;}
  .header {position: fixed;z-index: 99;width: 100%;}
  main {height: 100vh;display: flex;flex-direction: column;overflow: hidden;}
}

:root {
  --some-color: red;
}

.test {font-size: $font-size; color: var(--some-color);}
