
:global {
  .ant-carousel, .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }

  .ant-carousel .slick-slide {
    text-align: center;
    line-height: 30px;
    background: #fff;
    overflow: hidden;
  }

  .ant-carousel .slick-slide > div {
    display: flex;
    flex: 1;
    height: 100%;
  }

  .ant-carousel .slick-slide h3 {
    color: red;
  }
  .ant-carouse1 .slick-dots li {
    > button {
      background-color: #364d79
    }
  }
  .mobile_header {
    line-height: 30px
  }
  .mobile_body {
    justify-content: center;
  }
}
.grade-content{

}
.share-tip{
  width:100%;
  height:100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  text-align: center;
  color: white;
  padding: 10px;
  background-image: url(/static/arrow.png);
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position: 95% 0;
}
.bg {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(/static/gradebg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color:#1890FF;
  height:80px;
}

.grade_loading {
  font-size: 16px;
  color: #1890FF;
  text-align: center;
  margin-bottom: 30px;
}

.front {
  display: flex;
  background-color: white;
  flex-direction: column;
  height:100%;
}
.grade-detail{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 15px 10px 15px 10px;
  box-shadow: 0 8px 20px 1px rgba(0,0,0,.1);
  position: relative;
  margin-top: -30px;
  background-color: white;
  border-radius: 5px;
}



.grade-title {
  display: flex;
  flex-direction: column;
  flex: 0
}

.token-grade-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  > div {
    width: 33%;
  }
}

.grade_loading_title {
  display: flex;
  justify-content: center;
  color: #1890FF;
  font-size: 16px;
  margin-bottom: 20px;
}

.first_grade_top {
  flex-direction: column;
  align-items: center;
}

.grade_avg {
  color: #444444;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  text-align: left;
  font-size: 14px;
  align-items: center;
  .coin-name{
    font-size:20px;
    color:#444444;
    display:flex;
    flex-direction: column;
  }
  .coin-ratio{
    margin-left: 15px;
  }
}
.grade-ratio{
  display: flex;
  .coin-ratio-price{
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80px;
  }
}


.grade-image{
  display: flex;
  align-items: center;
  margin-right: 5px;
  img {
    width: 30px;
    height: 30px;
  }
}
.grade_level_text {
  color:#444444;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  margin: 0 0 0 auto;
  >span:last-child{
    color:#777777;
  }
  .grade_avg_level {
    font-weight: bold;
    color:#468df7;
    font-size:25px;
  }
}


.grade_avg_subtitle {
  color: #fff;
  font-size: 16px;
  text-align: center;
  > span {
    padding-left: 10px;
  }
}

.grade_avg_subtitle2 {
  color: #444444;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  padding-top: 30px;
  border-bottom: 1px solid #efefef;
}

.grade_avg_subtitle3 {
  color: #777777;
  font-size: 16px;
  text-align: justify;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  line-height: 25px;
}

.grade-split{
  background-color:#efefef;
  height:5px;
  min-height:5px;
  width:100%;
}
.token_level {
  color: #1890FF;
  font-weight: bold;
  font-size: 28px;
}

.grade_share {
  text-align: center;
  color: #1890FF;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grade_share div {
  padding-left: 5px;
}

.icon_basic {
  color: #323232;
}

.grade_next {
  text-align: center;
  color: #323232;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -23px;
  > i {
    height: 50px;
    width: 50px;
    background-image: url(/static/gradenext.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.grade_next_text {
  display: flex;
  flex-direction: column;
  color: #646464;
  font-size: 10px;
  :global {
    .anticon-double-right {
      margin-top: 20px;
      transform: rotate(90deg);
    }
  }
}

/* iPhone 5 Retina regardless of IOS version */
@media (max-width: 375px) {
  .grade_avg {
    font-size:16px;
    .coin-name {
      font-size: 18px;
    }
  }
  .grade_avg_subtitle {
    font-size: 14px;
  }
  .token_level,.grade_avg_subtitle2 {
    font-size: 17px;
  }
  .grade_level_text {
    font-size:14px;
    .grade_avg_level {
      font-size: 18px;
    }
  }
}
