:global {
  .mobile_body {
    padding-top: 0
  }
}
.robot-body{
  flex-direction: row;
}
.bg{
  display: flex;
  flex: 1;
}
.front {
  display: flex;
  flex: 1;
  justify-content: center;
  border-radius: 7px;
 // margin: 0px 15px 0px 15px;
  background-color: white;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  .form {
    display: flex;
  }
}

.robot-card{
  justify-content: center;
  display: flex;
  text-align: center;
}

.robot-nikename{
  min-height: 21px;
}